#!/usr/bin/python3

### TEMPLATE
cluster_name = "{{ cluster_name | default('my.df.demo') }}"
internal_hostname = "{{ groups['target'] | map ('extract', hostvars, 'ansible_fqdn') | first }}"
admin_password = "{{ admin_password }}"
stream_name = "/apps/demo/stream"
